# ROS2 build outputs
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# VS Code cache
.vscode/.browse_c_cpp.db*
.vscode/ipch/

# Temporary files
*.tmp
*.bak
*.swp
*~

# Runtime/debug outputs
debug_maps/
maps/

# Generic C/C++ build outputs
**/build/
**/cmake-build-*/
**/*.o
**/*.so
**/*.a
**/*.out

# Lidar SDK local build/cache
third_party/unilidar_sdk2/**/build/
third_party/unilidar_sdk2/**/*.o
third_party/unilidar_sdk2/**/*.so
third_party/unilidar_sdk2/**/*.a

# Do not upload inner git backup
third_party/unilidar_sdk2/.git_backup_unilidar/
# Unilidar SDK build outputs
third_party/unilidar_sdk2/unitree_lidar_sdk/bin/
third_party/unilidar_sdk2/**/build/
third_party/unilidar_sdk2/**/*.o
third_party/unilidar_sdk2/**/*.so
third_party/unilidar_sdk2/**/*.a
